@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

html {
  font-size: 10px;
}

body {
  color: #6e6e6e;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  font-size: 14px;
}

ul.main-nav {
  list-style: none;
}

a,
a:link,
a:visited {
  color: #c5c5c5;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.logo {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo img {
  max-width: 200px;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after, #cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #head-mobile {
  display: none;
}

#cssmenu {
  background: #4D4D4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

#cssmenu > ul > li {
  float: left;
}

#cssmenu > ul > li a {
  padding: 17px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ddd;
}

#cssmenu > ul > li.has-sub a {
  padding-right: 30px;
}

#cssmenu > ul > li.has-sub a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: '';
}

#cssmenu > ul > li.has-sub aa:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
  color: #fff;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  background: #333;
  transition: all .25s ease;
}

#cssmenu li:hover > ul {
  left: auto;
}

#cssmenu li:hover > ul > li {
  height: 35px;
}

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}

#cssmenu ul ul li a {
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}

#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
  color: #fff;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: '';
}

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}

@media screen and (max-width: 1024px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none;
  }
  .logo2 {
    display: none;
  }
  nav {
    width: 100%;
  }
  #cssmenu {
    width: 100%;
    height: 70px;
    line-height: 70px;
  }
  #cssmenu ul {
    width: 100vw;
    display: none;
    background: #212121;
    top: 70px;
    position: fixed;
    left: 0;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
    font-size: 14px !important;
  }
  #cssmenu ul li {
    width: 100%;
  }
  #cssmenu ul li:hover {
    background: #363636;
  }
  #cssmenu ul ul li, #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a, #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li {
    background: #333 !important;
  }
  #cssmenu ul ul li:hover {
    background: #363636 !important;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #ddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
    color: #fff;
  }
  #cssmenu ul ul, #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
    top: 0;
  }
  #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700;
  }
  .button {
    width: 55px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
    top: 12px;
  }
  .button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  .buttonbefore {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #ddd;
    content: '';
  }
  .button.menu-opened:after {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
  #cssmenu ul ul ul li.active a {
    border-left: none;
  }
  #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;
  }
}

.left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-nav > img {
  max-width: 300px;
  widows: 100%;
}

.check-toggle:checked ~ .account-menu {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

.header {
  text-align: center;
  margin: 2%;
}

.header > h1 {
  color: #35AADD;
  width: 100%;
}

.header > h4 {
  color: #999999;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 10px;
}

.slider {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.slider img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.sliderimg {
  display: none;
  height: 51vh;
  -webkit-transition: 3s;
  transition: 3s;
}

.sliderimg.active {
  display: inline-block;
}

.prev, .next {
  cursor: pointer;
}

.content {
  max-width: 1290px;
  margin: 0 auto;
  width: 100%;
}

.container {
  padding-top: 70px;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .content > div {
  margin-top: 15px;
}

.container .content:before {
  content: "";
  display: block;
  background: #36aadd;
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}

.container .content > .slider {
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.container .content .sliderimg {
  display: none;
  height: 60vh;
  -webkit-transition: 3s;
  transition: 3s;
}

.container .content .sliderimg.active {
  display: inline-block;
}

.container .content .controls {
  height: 100%;
  position: absolute;
  z-index: 9;
  width: 100px;
}

.container .content .prev, .container .content .next {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin: 10px;
  position: absolute;
  bottom: 0;
}

.container .content .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .content .prev {
  background: url("../img/arrow-left.svg") no-repeat center #fff;
  left: 0;
}

.container .content .next {
  background: url("../img/arrow-right.svg") no-repeat center #fff;
  left: 60px;
}

.container .content #counter {
  background: white;
  margin: 10px;
  border: 2px solid #000;
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
  position: absolute;
  top: 0;
}

.container .content .card-form {
  background: #E6E6E6;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  -webkit-box-shadow: inset 0 8px 0 0 #36aadd;
          box-shadow: inset 0 8px 0 0 #36aadd;
  min-width: 390px;
}

.container .content .form-body .form-item__element--select {
  background: #ffffff url(../img/arrow.svg) no-repeat center right 10px;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 40px;
  width: 100%;
  border: none;
  color: gray;
  font-size: 16px;
  appearance: none;
  padding-right: 2em;
}

.container .content .form-body .form-item__element--select:invalid {
  color: transparent;
}

.container .content .form-body .form-item__element--select [disabled] {
  color: transparent;
}

.container .content .form-body .form-item__element--select option {
  color: gray;
}

.container .content .form-body .row {
  padding: 10px 0;
}

.container .content .form-body .row label {
  margin-bottom: 5px;
  display: block;
}

.container .content .form-body .row input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 35px;
  padding: 5px 15px;
  outline: none;
  border: none;
  background: #fff;
  color: #576366;
  font-size: 14px;
}

.container .content .form-footer {
  text-align: center;
}

.container .content .form-footer button {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 5px;
  padding: 0px 45px;
  background: #BAD44F;
  border-bottom: 3px solid #95A82A;
  font-size: 18px;
  color: white;
  font-weight: 600;
  line-height: 45px;
  margin-top: 20px;
}

.container .content .form-footer span {
  margin-left: 8px;
}

.doble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doble > div {
  width: 100%;
}

.doble > div:first-child {
  margin-right: 10px;
}

footer {
  background: #7C7C7C;
  height: 125px;
  color: white;
  z-index: 99;
}

footer .copyright {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  left: 0;
  font-size: 12px;
  font-weight: 500;
}

footer .controls {
  height: 68%;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  height: 100%;
  padding: 10px 20px;
}

footer .content p {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
}

footer .content a {
  margin: 0 5px 0 0;
}

footer .content > div {
  width: 100%;
}

footer .content > div ul {
  margin-left: 20px;
}

footer .content > div ul li > a {
  line-height: 30px;
  color: white;
  font-size: 12px;
}

footer .content > div:last-child {
  text-align: center;
}

.Site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100%;
}

@media (min-width: 1229px) {
  .container .content > div {
    height: 51vh !important;
  }
}

@media (min-width: 1025px) {
  .container .content > div {
    height: 70vh !important;
  }
  #cssmenu > ul > li.has-sub a:after {
    display: none;
  }
  #cssmenu ul ul {
    position: absolute;
    left: -9999px;
    position: fixed;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100vw !important;
    left: 0px !important;
    background: #333333;
  }
  ul.submenu {
    background: #212121;
    padding: 10px;
  }
  .card-form {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  label.hamburger-menu {
    display: none;
  }
  option:disabled {
    color: white;
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
  input:-ms-input-placeholder {
    color: transparent;
  }
  input::-ms-input-placeholder {
    color: transparent;
  }
  input::placeholder {
    color: transparent;
  }
  textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
  textarea::-ms-input-placeholder {
    color: transparent;
  }
  textarea::placeholder {
    color: transparent;
  }
}

@media (max-width: 1024px) {
  .container .content > div {
    height: auto !important;
  }
  .signup .form-item__element--select:invalid {
    color: #999 !important;
  }
  .signup .form-item__element--select [disabled] {
    color: #999 !important;
  }
  .signup .form-item__element--select option {
    color: #999 !important;
  }
  .signup .submenu {
    list-style: circle;
  }
  .signup .submenu > li > a {
    font-size: 12px !important;
  }
  .signup .submenu > li > a:link {
    font-size: 12px !important;
  }
  .signup .main-nav > li > label:hover {
    color: white;
    text-decoration: underline;
  }
  .signup label {
    display: none !important;
  }
  .container .content .form-body .row {
    padding: 5px 0;
  }
  nav a, nav nav label {
    font-size: 18px !important;
  }
  .left-nav {
    text-align: center;
    display: block;
    width: 100%;
  }
  .container .content:before {
    display: none;
  }
  label {
    display: none;
  }
  .left-nav > img {
    max-width: 200px;
  }
  .hamburger-menu {
    background: repeating-linear-gradient(0deg, transparent 0, transparent 0.4rem, #ffffff 0.4rem, #ffffff 0.7rem);
    cursor: pointer;
    display: inline-block;
    height: 2.2rem;
    width: 2.6rem;
  }
  .card-form {
    position: absolute !important;
    right: 10%;
    top: 15%;
  }
  .main-nav-holder {
    left: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 100%;
    z-index: 3;
  }
  .main-nav-holder label, .main-nav-holder a {
    font-size: 18px !important;
  }
  .container .content {
    position: relative;
  }
  .main-nav {
    bottom: 0;
    display: block;
    left: 0;
    overflow-y: scroll;
  }
  .main-nav > li {
    border: none;
    margin: 0;
    background: #212121;
    position: relative;
  }
  .main-nav > li.close-nav {
    display: block;
    text-align: right;
    height: 70px;
    background: #4d4d4d;
    width: 50px;
  }
  .main-nav > li.close-nav > label {
    cursor: pointer;
    display: block;
    height: 4rem;
    position: relative;
    top: 13px;
  }
  .main-nav > li.close-nav > label::before, .main-nav > li.close-nav > label::after {
    background: white;
    content: "";
    height: 1.8rem;
    left: 50%;
    position: absolute;
    top: 1rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0.2rem;
  }
  .main-nav > li.close-nav > label::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .main-nav > li.close-nav > label::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .main-nav > li.close-nav > label:hover::before, .main-nav > li.close-nav > label:hover::after {
    background: #333333;
  }
}

@media (max-width: 767px) {
  .container .content > .slider {
    height: 51vh !important;
  }
  .container .content {
    display: block;
  }
  .card-form {
    z-index: 999;
    min-width: 290px !important;
    margin: 0 auto;
    height: auto !important;
    top: 23%;
    z-index: 999;
    left: 10%;
    right: 10%;
  }
  footer {
    position: static;
  }
  .arrows {
    display: none !important;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .card-form {
    top: 5%;
  }
}
/*# sourceMappingURL=style.css.map */